@page
@model Court4U.Pages.Owner.Clubs.Courts.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "_OwnerLayout";
}

<h1>Create</h1>

<h4>Court</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Court.Num" class="control-label"></label>
                <input asp-for="Court.Num" class="form-control" />
                <span asp-validation-for="Court.Num" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Court.Status" class="control-label"></label>
                <select asp-for="Court.Status" class="form-control"></select>
                <span asp-validation-for="Court.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Court.ClubId" class="control-label"></label>
                <select asp-for="Court.ClubId" class ="form-control" asp-items="ViewBag.ClubId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Court.Id" class="control-label"></label>
                <input asp-for="Court.Id" class="form-control" />
                <span asp-validation-for="Court.Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Court.CreatedDate" class="control-label"></label>
                <input asp-for="Court.CreatedDate" class="form-control" />
                <span asp-validation-for="Court.CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Court.UpdatedDate" class="control-label"></label>
                <input asp-for="Court.UpdatedDate" class="form-control" />
                <span asp-validation-for="Court.UpdatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
