@page "{id}"
@model EditModel
@{
    ViewData["Title"] = "Edit Club";
    Layout = "_AdminLayout";
}

<div style="position: relative;">
    <div class="container mb-30">
        <h1 class="mb-2 ml-5 text-center" style="font-size: 2.5rem; color: lightgreen;">Edit Club</h1>
        <div class="row mt-5 ml-5">
            <div class="col-md-8 mt-10">
                <form method="post">
                    <div class="form-group mt-5">
                        <label asp-for="ClubRequest.Name" class="control-label mr-20"></label>
                        <input asp-for="ClubRequest.Name" class="form-control form-control-lg rounded border-primary py-1" style="border: 1px solid #ced4da; width: 900px; padding: 12px; border-radius: 15px;" />
                        <span asp-validation-for="ClubRequest.Name" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-5">
                        <label asp-for="ClubRequest.Description" class="control-label mr-10"></label>
                        <input asp-for="ClubRequest.Description" class="form-control form-control-lg rounded border-primary py-1" style="border: 1px solid #ced4da; width: 900px; padding: 12px; border-radius: 15px;" />
                        <span asp-validation-for="ClubRequest.Description" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-5">
                        <label asp-for="ClubRequest.Address" class="control-label mr-10"></label>
                        <input asp-for="ClubRequest.Address" class="form-control form-control-lg rounded border-primary py-1 ml-6" style="border: 1px solid #ced4da; width: 900px; padding: 12px; border-radius: 15px;" />
                        <span asp-validation-for="ClubRequest.Address" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-5">
                        <label asp-for="ClubRequest.CityOfProvince" class="control-label mr-4"></label>
                        <input asp-for="ClubRequest.CityOfProvince" class="form-control form-control-lg rounded border-primary py-1" style="border: 1px solid #ced4da; width: 900px; padding: 12px; border-radius: 15px;" />
                        <span asp-validation-for="ClubRequest.CityOfProvince" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-5">
                        <label asp-for="ClubRequest.District" class="control-label mr-10"></label>
                        <input asp-for="ClubRequest.District" class="form-control form-control-lg rounded border-primary py-1 ml-8" style="border: 1px solid #ced4da; width: 900px; padding: 12px; border-radius: 15px;" />
                        <span asp-validation-for="ClubRequest.District" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-5">
                        <label asp-for="ClubRequest.LogoUrl" class="control-label mr-10"></label>
                        <input asp-for="ClubRequest.LogoUrl" class="form-control form-control-lg rounded border-primary py-1 ml-6" style="border: 1px solid #ced4da; width: 900px; padding: 12px; border-radius: 15px;" />
                        <span asp-validation-for="ClubRequest.LogoUrl" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-5">
                        <label asp-for="ClubRequest.UserId" class="control-label mr-10"></label>
                        <input asp-for="ClubRequest.UserId" class="form-control form-control-lg rounded border-primary py-1 ml-9" style="border: 1px solid #ced4da; width: 900px; padding: 12px; border-radius: 15px;" />
                        <span asp-validation-for="ClubRequest.UserId" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-5 mb-5 text-center">
                        <button type="submit" class="btn btn-primary mr-20" style="background-color: #28a745; font-size: 20px; padding: 10px 25px; border: none; color: white; cursor: pointer; border-radius: 10px;">Save</button>
                        <a asp-page="Index" style="display: inline-block; background-color: #f44336; font-size: 20px; color: white; padding: 10px 25px; text-align: center; text-decoration: none; border-radius: 10px; cursor: pointer;">Back to List</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>