@page
@model Court4U.Pages.RegisterModel
@{
    Layout = "_AuthLayout";
}

<div class="absolute left-0 top-0 p-4">
    <a href="/" class="flex items-center space-x-2 text-neutral hover:text-gray-700 transition-colors">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
        </svg>
        <span class="hidden sm:inline">Home</span>
    </a>
</div>
<div class="mb-8">
    <h1 class="text-4xl font-bold text-neutral">Register</h1>
    <p class="text-lg tracking-wide leading-6 my-4 mx-8">Welcome to Court4U. Join us now!</p>
</div>
<form method="post" class="flex flex-col items-center">
    <div class="w-full max-w-sm mb-4">
        <label class="block text-left mb-2 text-lg">
            User Name
        </label>
        <input asp-for="Input.Username" placeholder="Enter your user name" class="w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring focus:ring-indigo-200 focus:border-indigo-300" />
        <span asp-validation-for="Input.Username" class="text-danger text-red-500"></span>
    </div>
    <div class="w-full max-w-sm mb-4">
        <label class="block text-left mb-2 text-lg">
            Email
        </label>
        <input asp-for="Input.Email" placeholder="Enter your email address" class="w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring focus:ring-indigo-200 focus:border-indigo-300" />
        <span asp-validation-for="Input.Email" class="text-danger text-red-500"></span>
    </div>
    <div class="w-full max-w-sm mb-4">
        <label class="block text-left mb-2 text-lg">
            Phone
        </label>
        <input asp-for="Input.Phone" placeholder="Enter your phone number" class="w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring focus:ring-indigo-200 focus:border-indigo-300" />
        <span asp-validation-for="Input.Phone" class="text-danger text-red-500"></span>
    </div>
    <div class="w-full max-w-sm mb-4">
        <label class="block text-left mb-2 text-lg">
            Password
        </label>
        <input asp-for="Input.Password" placeholder="Enter your password" class="w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring focus:ring-indigo-200 focus:border-indigo-300" />
        <span asp-validation-for="Input.Password" class="text-danger text-red-500"></span>
    </div>
    <div class="w-full max-w-sm mb-4">
        <label class="block text-left mb-2 text-lg">
            Confirm Password
        </label>
        <input asp-for="Input.ConfirmPassword" placeholder="Confirm your password" class="w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring focus:ring-indigo-200 focus:border-indigo-300" />
        <span asp-validation-for="Input.ConfirmPassword" class="text-danger text-red-500"></span>
    </div>
    <button type="submit" class="w-[54%] my-8 py-2 px-4 rounded-lg bg-[#4f7d6f] text-white hover:bg-[#2d4242] transition transform hover:translate-y-1">Register</button>
</form>

<div class="flex justify-center items-center">
    <p class="text-neutral">Already have an account?</p>
    <a href="/login" class="font-semibold text-green-700 text-sm relative gap-1 px-2 inline-flex after:content-[''] after:absolute after:left-2 after:bottom-[-2px] after:w-0 after:h-[1px] after:bg-green-700 after:transition-all hover:after:w-[75%]"> Login</a>
</div>
