@page
@model Court4U.Pages.Owner.Clubs.CreateModel
@{
    Layout = "_OwnerSelectClubLayout";
}
<div style="position: relative;">
    <div class="container mb-30">
        <h1 class="ml-5 text-center" style="font-size: 2.5rem; color: #28a745;">Create Club</h1>
        <div class="row mt-5 ml-5 mb-5">
            <div class="col-md-8 mt-10">
                <form method="post">
                    <div class="form-group mt-5">
                        <label asp-for="Club.Name" class="control-label mr-20"></label>
                        <input asp-for="Club.Name" class="form-control form-control-lg rounded border-primary py-1" style="border: 1px solid #ced4da; width: 900px; padding: 12px; border-radius: 15px;" />
                        <span asp-validation-for="Club.Name" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-5">
                        <label asp-for="Club.Description" class="control-label mr-10"></label>
                        <input asp-for="Club.Description" class="form-control form-control-lg rounded border-primary py-1" style="border: 1px solid #ced4da; width: 900px; padding: 12px; border-radius: 15px;" />
                        <span asp-validation-for="Club.Description" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-5">
                        <label asp-for="Club.Address" class="control-label mr-10"></label>
                        <input asp-for="Club.Address" class="form-control form-control-lg rounded border-primary py-1 ml-6" style="border: 1px solid #ced4da; width: 900px; padding: 12px; border-radius: 15px;" />
                        <span asp-validation-for="Club.Address" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-5">
                        <label asp-for="Club.CityOfProvince" class="control-label mr-4"></label>
                        <input asp-for="Club.CityOfProvince" class="form-control form-control-lg rounded border-primary py-1" style="border: 1px solid #ced4da; width: 900px; padding: 12px; border-radius: 15px;" />
                        <span asp-validation-for="Club.CityOfProvince" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-5">
                        <label asp-for="Club.District" class="control-label mr-10"></label>
                        <input asp-for="Club.District" class="form-control form-control-lg rounded border-primary py-1 ml-8" style="border: 1px solid #ced4da; width: 900px; padding: 12px; border-radius: 15px;" />
                        <span asp-validation-for="Club.District" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-5">
                        <label asp-for="Club.LogoUrl" class="control-label mr-10"></label>
                        <input asp-for="Club.LogoUrl" class="form-control form-control-lg rounded border-primary py-1 ml-6" style="border: 1px solid #ced4da; width: 900px; padding: 12px; border-radius: 15px;" />
                        <span asp-validation-for="Club.LogoUrl" class="text-danger"></span>
                    </div>
                    
                    <div class="form-group mt-5 text-center">
                        <button type="submit" class="btn btn-primary mr-20" style="background-color: #28a745; font-size: 20px; padding: 10px 25px; border: none; color: white; cursor: pointer; border-radius: 10px;">Create</button>
                        <a asp-page="Index" style="display: inline-block; background-color: #f44336; color: white; font-size: 20px; padding: 10px 20px; text-align: center; text-decoration: none; border-radius: 10px; cursor: pointer;">Back to List</a>
                    </div>
                </form>
            </div>
        </div>

        <div class="mt-3 mb-4 ml-5">
        </div>
    </div>
</div>